<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
    <configSections>
        <section name="ConnectionManagerDataSection" type="SpencerGifts.ExchangeRatesUpdater.DAL.ConnectionManagerDataSection, SpencerGifts.ExchangeRatesUpdater.DAL" />
    </configSections>
    <ConnectionManagerDataSection>
        <ConnectionManagerEndpoints>
            <add name="sqlCon" rateParam="@EXCHANGERATE" dateParam="@DATEUPDATED" dateFormat="dd-MMM-yyyy" query="UPDATE EXCHANGERATES SET rate=@EXCHANGERATE, dateupdated=@DATEUPDATED WHERE id=1" executeQuery="true" />
            <add name="mySqlCon" rateParam="@EXCHANGERATE" dateParam="@DATEUPDATED" dateFormat="yyyy-MM-dd" query="UPDATE EXCHANGERATES SET rate=@EXCHANGERATE, dateupdated=@DATEUPDATED WHERE id=1" executeQuery="false" />
            <add name="oracleCon" rateParam="pEXCHANGERATE" dateParam="pDATEUPDATED" dateFormat="dd-MMM-yyyy" query="UPDATE EXCHANGERATES SET rate=:pEXCHANGERATE, dateupdated=:pDATEUPDATED WHERE id=1" executeQuery="false"/>
        </ConnectionManagerEndpoints>
    </ConnectionManagerDataSection>
    <connectionStrings>
        <add name="sqlCon" connectionString="Data Source=.\;Initial Catalog=ECOMM;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
        <add name="mySqlCon" connectionString ="Server=localhost;Port=3306;Database=ECOMM;Uid=root;Pwd=root;allow user variables=true" providerName="MySql.Data.MySqlClient"/>
        <add name="oracleCon" connectionString ="Data Source=localhost:1521/Ecomm;User ID=C##GRAY;Password=oracle;Unicode=True" providerName="System.Data.OracleClient"/>
    </connectionStrings>
    <appSettings>
        <add key="defaultConnection" value="sqlCon" />
    </appSettings>
</configuration>

